body {
    background-color: purple;
}

.panel-title {
    background-color: grey;
    color: white;
    padding: 1px;
    padding-left: 5px;
    padding-top: 5px;
}

.jumbotron {
    border: 10px grey solid;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn {
    background-color: grey;
    color: white;
}

  td {
    background-color: white;
}

  th {
    background-color: white;
}

  .container {
      max-width: 1024px;
}